#grad {
    background-image: linear-gradient(to bottom right, #fcee21, #009245);
}

input[type=number] {
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaaaaa;
    width: 100%;
}

input[type=time] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaaaaa;
}

input[type=text] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #aaaaaa;
}


button {

    /* remove default behavior */
    appearance: none;
    -webkit-appearance: none;

    /* usual styles */
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;

}

.maindiv {
    margin: 90px auto;
    width: 25%;
    padding: 20px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    opacity: 1;
}

#maindiv {
    margin: 150px auto;
    width: 25%;
    padding: 20px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    opacity: 1;
}

/* .button {
    padding: 10px;
    border: 10px;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    width: 25%;
    margin: 30px;
} */

a.btn {
    border-radius: .25rem;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    color: #fff;
}

a.btn:hover {
    border-radius: .25rem;
}

#Buttondiv {


    padding: 10px;
}